
/****** Object:  StoredProcedure [dbo].[Rep_SearchItmInfo]    Script Date: 19-Dec-2025 6:57:03 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec Rep_SearchItmInfo 104535,'2025-05-02'
ALTER proc [dbo].[Rep_SearchItmInfo]
	@ItmKey int
AS

	
SELECT     	
	 Itm.QtyStock -	ISNULL(ItmHis.ROQty,0)- ISNULL(ItmHis.SOQty,0) 
	+ ISNULL(ItmHis.POQty,0)+ISNULL(DraftPOQty,0)-ISNULL(ItmHis.APPNQty,0) AvailableQty
	, ItmType	
	,ItmDes
	,BUOMKey
	,CostLanded
	FROM 
	(	
		SELECT     
		 QtyStock		
		, ItmType		
		, DraftPOQty	
		,ItmDes
		,BUOMKey
		,CostLanded
		FROM (SELECT  ItmKey, QtyStock, ItmType ,ItmID,ItmDes,BUOMKey,CostLanded FROM MST_Itm(NOLOCK) WHERE ItmKey=@ItmKey)MST_Itm	
		LEFT JOIN 
		(
			select AP_PODetItm.ItmKey,SUM(ISNULL(ItmConRate,0)*(ISNULL(ItmQty,0)-ISNULL(DSQty,0)-
			(CASE WHEN (ISNULL(ItmQtyLink,0))=0 then ISNULL(PSQty,0) ELSE ISNULL(ItmQtyLink,0) END)-ISNULL(ItmQtyAdj,0)-ISNULL(DSQty,0))) AS DraftPOQty 
			from AP_PODetItm(NOLOCK) 
			inner join AP_PO(NOLOCK) ON AP_PODetItm.DocKey = AP_PO.DocKey
			where (DocState = 20)  AND AP_PODetItm.ItmKey = @ItmKey 
			group by AP_PODetItm.ItmKey

		) DraftPO ON MST_Itm.ItmKey = DraftPO.ItmKey						
        WHERE (MST_Itm.ItmKey = @ItmKey) --AND ItmType <> 250 		
	 ) AS Itm 
	 CROSS JOIN -- ItmHis
     (
			SELECT 
			  SUM((-1 * ARROQty) - (-1 * ISNULL(ARROQtyLink,0)))AS ROQty
			  ,SUM((-1 * ARSOQty) - (-1 * ISNULL(ARSOQtyLink,0))) AS SOQty
			, SUM(APPOQty - APPOQtyLink) AS POQty
			, SUM(APPNQty-APPNQtyPosted) AS APPNQty
            FROM MST_ItmHis(NOLOCK)
            WHERE (ItmKey = @ItmKey) --and Period<dbo.getdocPeriod(@Date)
	 ) AS ItmHis 


